.error-message {
  min-height: 100vh;
  padding-bottom: 80px;
  background-color: #180202;
  color: #c9b37e;
}

.error-message__head {
  margin-bottom: 40px;
}

.error-message__wrap {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 75px;
}

.error-message__text {
  padding: 20px 0;
  font-size: 20px;
  line-height: 26px;
}

.error-message__title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 40px;
}
